a:link{
  color:#ffffff;
  text-decoration:none;
}
a:visited{
  color: #ffffff;
  text-decoration:none;
}
a.white:link {
  color : #ffffff;
  text-decoration:none;
}
a.white:visited {
  color : #ffffff;
  text-decoration:none;
}
.image-vw {
  width : 100% ; 
}
.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 61em;
}
p.sentence-pro{
  color :#ffffff;
  text-align: justify;
  margin-top: 60px ;
  font-size: 20px;
}
p.sentence{
  color :#ffffff;
  text-align: justify;
  margin-top: 60px ;
  font-size: 20px;
}
p.bio{
  color :#ffffff;
  text-align: justify;
  margin-top: 10px ;
}
p.likes{
  color :#ffffff;
  text-align: justify;
  margin-top: 10px ;
}
p.likebold{
  color :#ffffff;
  text-align: justify;
  margin-top: 10px ;
  font-size: 20px;
}
.container-text{
  max-width: 894px;
  margin: 0 auto;
}
img.bass{
  border: 2px solid #8f9299;
}
span{
  color : red;
}
a:link.under {
  background: linear-gradient(transparent 55%, #c12127bf 50%);
}