
a:link{
  color:#ffffff;
}
a:visited{
  color: #ffffff;
}
a.white:link {
  color : #ffffff;
}
a.white:visited {
  color : #ffffff;
}

@media screen and (max-width:480px) {

/*　画面サイズが480px以下の場合ここの記述が適用される　*/

}
#line{
 text-decoration: none;
}
/*Contact*/
body {
 margin:0; padding:0;
 font-family: ;
 background-color: #2a333c;
 color: #ffffff;
 text-align: center;
 flex: 1;
}
.all{
 margin-top:0;
 margin-right: 25%;
 margin-bottom: 3%;
 padding-left: 25%;
}

.form{
 margin-top: 20px;
 margin-bottom: 20px;
 text-align: left;
}

.box{
 padding-bottom: 30px;
}

.box1{
 text-align: center;
 padding-bottom: 50px;
}

.respon{
 width: 100%;
}

#name{
 height: 30px;
}
.c-block-input__radio input[type="radio"] {
  display: none
}

.c-block-input__radio label {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 3px 0 3px 26px;
  position: relative;
  width: auto
}

.c-block-input__radio label::before {
  content: "";
  display: block;
  border: 1px solid #999;
  border-radius: 1000px;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px
}

.c-block-input__radio label::after {
  content: "";
  display: block;
  background: #c12127;
  border-radius: 1000px;
  width: 10px;
  height: 10px;
  opacity: 0;
  position: absolute;
  left: 4px;
  top: 50%;
  margin-top: -4px
}

.c-block-input__radio input[type=radio]:checked+label::after {
  opacity: 1
}

.button {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 12px;   /* 余白       */
  background    : #8f9299;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
}
.button:hover {
  opacity       : 1;           /* カーソル時透明度 */
}
.button1 {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 12px;   /* 余白       */
  background    : #c12127;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
}
.button1:hover {
  opacity       : 1;           /* カーソル時透明度 */
}

.title img{
  padding-top: 50px;
}
