a:link{
  color:#ffffff;
  text-decoration:none;
}
a:visited{
  color: #ffffff;
  text-decoration:none;
}
a.white:link {
  color : #ffffff;
  text-decoration:none;
}
a.white:visited {
  color : #ffffff;
  text-decoration:none;
}
.image-vw {
  width : 100% ; 
}

/*画像を重ねる*/
.top-box {
  position: relative;
}
.topPC {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 62%;
  left: 3%;
}
/*お知らせ欄*/
*:before, 
*:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
.info {
  margin: 1em auto 60px auto;
  padding: 0 1.5em;
  text-align: left;
  font-size: 1em;
  color: #2a333c;
  overflow: auto;
  width: 90%;
  height: 10em;
  background-color: #eeeeee;
}
.info dl {
  padding: 0.5em 0;
  border-bottom: 1px solid #2a333c;
}
.info dt {
  padding-bottom: 0;
  width: 7em;
}
@media screen and (min-width: 480px) {
.info dt {clear: left;float: left;}
.info dd {margin-left: 0.5em;}
}
