/*ヘッダー・フッター*/
* {
  margin:0; padding:0;
}
body{
  background-color: #2a333c;
}
header {
  height: 100px;
  width: 100%;
  padding: 15px 0;
  background-color: #c12127;
  color:  #ffffff;
  z-index: 1;
}
header .headline{
  float: left;
  margin-left: 100px;
}
.nav-list {
  line-height: 100px;
  float: left;
  margin-left: 30px;
  list-style: none;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
a:link{
  color:#ffffff;
}
a:visited{
  color: #ffffff;
}
a.white:link {
  color : #ffffff;
}
a.white:visited {
  color : #ffffff;
}
footer{
  width: 100%;
  height: 100px;
  background-color: #c12127;
  color:  #ffffff;
  text-align: center;
  z-index: 2;
  position: absolute;
}
ul.footer-menu li {
  display: inline;
}
@media screen and (max-width:480px) {

/*　画面サイズが480px以下の場合ここの記述が適用される　*/

}
#line{
 text-decoration: none;
}
/*works*/
body {
 margin:0; padding:0;
 font-family: ;
 background-color: #2a333c;
 color: #ffffff;
 text-align: center;
 flex: 1;
}

.wall{
 margin-left: 10%;
 margin-right: 10%;
}

.title{
  margin-top: 50px;
}


.gather img {
    border-radius: 50%;
    width:  180px;
    height: 180px;
}

.gather {
  margin-top: 20px;
  margin-bottom: 80px;
}

#gap{
 margin: 0 20px 0 20px;
}
hr{
 margin-left: 25%;
}